.callout {
    background-color: var(--bg);
    color: var(--card-fg);
    padding: 0.8rem;
    margin: 0.3rem;
    border: 2px solid var(--active-bg);
    box-shadow: var(--shadow-color) 0px 4px 12px;
    border-left: 0.5rem solid;
    border-radius: 0.25rem;
}

.callout-header {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.callout.warning {
    border-color: #ffb238;
}

.callout p {
    margin: 0 !important;
}
