@import "palette";

.card {
    text-decoration: none;

    background-color: var(--card-bg);
    color: var(--card-fg);
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    box-shadow: var(--shadow-color) 0px 4px 12px;
}

.card:hover:not(header) {
    background-color: var(--mantle);
}

.card h2,
.card p {
    margin: 0.5rem;
}

.card .date {
    font-size: 0.9rem;
    color: var(--subtle-fg);
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
}

.blog-posts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5rem;

    list-style: none;
    padding: 0;
    margin: 0.5rem;
    margin-top: 1rem;
}

.technologies li {
    display: inline-block;
    color: var(--base);
    background-color: var(--accent-color);
    padding: 0.1rem 0.5rem;
    border-radius: 15px;
    font-size: 0.9rem;
}
