@import "palette";
@import "social";
@import "cards";

@font-face {
    font-family: "Munro";
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src:
        local("Munro"),
        url("munro/munro-latin.woff2") format("woff2");
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
    font-family: "Munro";
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src:
        local("Munro"),
        url("munro/munro-latin-ext.woff2") format("woff2");
    unicode-range:
        U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20CF, U+2C60-2C7F, U+A720-A7FF;
}

.preload * {
    // Disable transitions before page load
    transition: none;
}

* {
    transition:
        border-color 0.2s ease,
        box-shadow 0.2s ease,
        color 0.2s ease,
        background-color 0.2s ease;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: "Munro", monospace, sans-serif;
    margin: 0;
    padding: 2rem;
}

a {
    color: var(--link-fg);
}

a:hover {
    color: var(--link-hover-fg);
}

.container {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.header-left {
    flex: 0 0 auto;
    font-weight: bold;
}

.header-left a,
.theme-toggle {
    color: var(--mauve);
}

.header-right {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header a {
    text-decoration: none;
}

header nav a {
    cursor: pointer;
    padding-top: 2px;
    border-bottom: 2px solid transparent;
}

header a:hover {
    color: var(--link-hover-fg);
    border-bottom-color: var(--link-hover-fg);
}

main {
    margin: 1.2rem;
}

li {
    line-height: 2rem;
}

code {
    font-family: inherit;
    background-color: var(--code-bg);
    color: var(--code-fg);
    border-radius: 8px;
    border: 1px solid var(--border-color);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 2px;
}

img {
    width: 100%;
    height: auto;
}

// Dark mode toggle
.theme-toggle {
    cursor: pointer;
    // Alignment hack for the dark/light mode icons
    // This is necessary to center the icons with the text.
    margin-bottom: -4px;
}

footer {
    margin-top: 3rem;
    text-align: center;
    color: var(--overlay0);
}
