{% macro icon(name) %}
    <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        width="24"
        height="24"
        aria-hidden="true"
        shape-rendering="crispEdges"
    >
        <path
    {% if name == "website" %}
        d="M21 11V3h-8v2h4v2h-2v2h-2v2h-2v2H9v2h2v-2h2v-2h2V9h2V7h2v4h2zM11 5H3v16h16v-8h-2v6H5V7h6V5z"
    {% elif name == "flathub" %}
        d="M9 1h6v2H9zM7 3h6v8H7zm8 0h2v2h-2zM5 5h2v4H5zm12 0h2v14h-2zM3 7h2v10H3zm16 0h2v10h-2zm-4 2h2v12h-2zm-6 2h6v2H9zm2 2h4v10h-4zm-6 4h2v2H5zm2 2h2v2H7zm2 2h2v2H9z"
    {% elif name == "crates" %}
        d="M5 1h18v2H5zM3 3h2v6H3zm16 0h4v2h-4zM1 5h2v18H1zm4 0h14v2H5zm16 0h2v14h-2zm-6 2h4v2h-4zM5 9h10v2H5zm12 0h2v14h-2zM5 11h2v8H5zm8 0h2v8h-2zm-4 2h2v2H9zm-2 4h6v2H7zm-4 2h2v4H3zm12 0h2v4h-2zm4 0h2v2h-2zM5 21h10v2H5z"
    {% elif name == "github" %}
        d="M5 1h4v2H5zm10 0h4v2h-4zM5 3h2v4H5zm4 0h6v2H9zm8 0h2v4h-2zM3 7h2v6H3zm16 0h2v6h-2zM5 13h2v2H5zm12 0h2v2h-2zM7 15h4v2H7zm6 0h4v2h-4zM1 17h4v2H1zm8 0h2v2H9zm4 0h2v2h-2zm-8 2h4v2H5zm10 0h2v4h-2zm-8 2h2v2H7z"
    {% elif name == "mastodon" %}
        d="M6 2h12v2H6zM4 4h2v2H4zm14 0h2v2h-2zM2 6h2v12H2zm7 0h2v2H9zm4 0h2v2h-2zm7 0h2v8h-2zM7 8h2v4H7zm4 0h2v2h-2zm4 0h2v4h-2zm-5 6h10v2H10zm-2 2h2v2H8zm-4 2h2v2H4zm6 0h2v2h-2zm-4 2h4v2H6z"
    {% elif name == "liberapay" %}
        d="M9 1h2v4H9zM7 5h2v6H7zm6 2h4v2h-4zm-2 2h2v10h-2zm6 0h2v6h-2zM5 11h2v6H5zm2 4h2v2H7zm6 0h4v2h-4zm-4 2h2v6H9z"
    {% elif name == "email" %}
        d="M2 4h20v2H2zm0 2h2v14H2zm18 0h2v14h-2zM6 8h2v2H6zm10 0h2v2h-2zm-8 2h2v2H8zm6 0h2v2h-2zm-4 2h4v2h-4zm-6 6h16v2H4z"
    {% elif name == "linkedin" %}
        d="M5 3h2v2H5zm0 4h2v12H5zm4 0h2v12H9zm4 0h4v2h-4zm-2 2h2v2h-2zm6 0h2v10h-2z"
    {% endif %}
        />
    </svg>
{% endmacro %}

{% macro display_name(name) %}
  {% if name == "website"
  %} Website {% elif name == "github"
  %} GitHub {% elif name == "flathub"
  %} Flathub {% elif name == "crates"
  %} crates.io {% elif name == "mastodon"
  %} Mastodon {% elif name == "liberapay"
  %} LiberaPay {% elif name == "email"
  %} Email {% elif name == "linkedin"
  %} LinkedIn {% else
  %} {{ name | capitalize }} {% endif
%}
{% endmacro %}
