@mixin callout-variant($color-var) {
    border-color: var($color-var);
    background-color: color-mix(in srgb, var($color-var) 3%, var(--bg));
    
    .callout-header {
        background-color: color-mix(in srgb, var($color-var) 8%, var(--bg));
        border-bottom: 2px solid var($color-var);
    }
}

.callout {
    background-color: var(--bg);
    color: var(--card-fg);
    margin: 0.3rem;
    border: 2px solid var(--border);
    box-shadow: var(--shadow) 0px 4px 12px;
    border-left: 0.5rem solid;
    border-radius: 0.25rem;
}

.callout-header {
    font-weight: bold;
    padding: 0.4rem 0.8rem;
}

.callout.warning {
    @include callout-variant(--warning);
}

.callout.info {
    @include callout-variant(--info);
}

.callout.success {
    @include callout-variant(--success);
}

.callout.error {
    @include callout-variant(--error);
}

.callout.note {
    @include callout-variant(--note);
}

.callout p {
    margin: 0.8rem !important;
}
