.preload * {
    // Disable transitions before page load
    transition: none;
}

* {
    transition:
        border-color 0.2s ease,
        border-style 0.2s ease,
        box-shadow 0.2s ease,
        color 0.2s ease,
        background-color 0.2s ease;
}

body {
    letter-spacing: 1px;
    background-color: var(--bg);
    color: var(--fg);
    font-family: "SerenityOS Emoji", "Munro", monospace, sans-serif;
    margin: 0;
    padding: 2rem;
}
